/* ------------------------------------------------------------------------ */
/* MAIN: header */
#header {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#header .text-frame {
    width: 50%;
    height: 200px;

    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    position: relative;
    overflow: hidden;

}
#header .text-frame .rank-frame {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: start;

    gap: 10px;
}
#header .text-frame .rank-frame label {
    padding: 10px 20px;
    border: .5px solid var(--dark-white);
    border-radius: 100px;
    font-family: var(--text-font);

    transition: all .3s;
    &:hover {
        padding: 10px 25px;
        background-color: var(--dark-white);
    }
    cursor: pointer;
}

#header .keybinds-frame {
    width: 30%;
    height: 300px;
    position: relative;
}
#header .keybinds-frame a {position: absolute; transition: all .3s;}
#header .keybinds-frame a:hover {transform: scale(.97) rotate(var(--rotation));} 
#header .keybinds-frame a:nth-child(1) {top: 70px; left: -50px; transform: rotate(-15deg); --rotation: -15deg;} 
#header .keybinds-frame a:nth-child(2) {top: 250px; left: -20px; transform: rotate(13deg); --rotation: 13deg;} 
#header .keybinds-frame a:nth-child(3) {bottom: -10px; right: 0px; transform: rotate(25deg); --rotation: 25deg;} 
#header .keybinds-frame a:nth-child(4) {bottom: 150px; right: 20px; transform: rotate(-10deg); --rotation: -10deg;} 
#header .keybinds-frame a:nth-child(5) {top: 20px; right: 150px; transform: rotate(20deg); --rotation: 20deg;}
#header .keybinds-frame a:active {transform: scale(.9) rotate(var(--rotation));}
#header .keybinds-frame a:nth-child(odd) {animation: rotate_bind_1 5s infinite alternate;}
#header .keybinds-frame a:nth-child(even) {animation: rotate_bind_2 5s infinite alternate;}
@keyframes rotate_bind_1 {
    from {transform: rotate(calc(var(--rotation) - 10deg));}
}
@keyframes rotate_bind_2 {
    from {transform: rotate(calc(var(--rotation) + 10deg));}
}